* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: black;
}

body {
  --gray: hsla(240, 9%, 89%);
  --black: hsl(240, 6%, 9%);

  display: grid;
  place-items: center;
  background: url(images/Desktop.png);
  background-position: center;
  background-size: cover;
}

main {
  background: url(images/background.svg);
  width: 375px;
  height: 812px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 250px;
  text-align: center;
  color: var(--gray);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: ;
}

a {
  color: var(--gray);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
